@model CameraDatabase.Models.Camera

@{
    ViewBag.Title = "Specifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading">
    <a href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left btnBack" title="Back to the main list"></i></a>
    <h2>Full Specifications</h2>
</div>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manufacturer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Model)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Model)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Style)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Style)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Megapixels)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Megapixels)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sensor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sensor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ISO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ISO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Shutter)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Shutter)
                </dd>

                <dt>
                    Focusing Points
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FocusingPoints)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Processor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Processor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Flash)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Flash)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Memory)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Memory)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Interface)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Interface)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Battery)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Battery)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Dimensions)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dimensions)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rate)
                </dt>

                <dd class="rating">
                    @Ajax.ActionLink(" (+1)", "Like", new { Model.Id }, null, new { @class = "fa fa-thumbs-up" })
                    @Html.DisplayFor(modelItem => Model.Rate)
                    @Ajax.ActionLink(" (-1)", "Dislike", new { Model.Id }, null, new { @class = "fa fa-thumbs-down" })
                </dd>

                <dt>
                    Sample Images
                </dt>

                <dd>
                    <a href="@Html.DisplayFor(model => model.SampleImage)" target="_blank"><img src="@Html.DisplayFor(model => model.SampleImage)" /></a>
                </dd>

            </dl>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imgViewer">
            <a href="@Html.DisplayFor(model => model.Image)" target="_blank"><img class="widePic" src="@Html.DisplayFor(model => model.Image)" /></a>
        </div>
    </div>
    <div class="btns">
        <button class="btn">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </button>
        <button class="btn">
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </button>
    </div>
